body
	background-color lightblue

.jumbotron
	border 1px solid black
	padding 0
	
	h1
		margin 5px 0
		font-weight bold
		font-size 50px
		
	@media only screen and (max-width : 768px)
		margin-bottom 10px
		
.nav-tabs__like
	border-radius 50%
	opacity .3
	width 15px
	min-height 15px
	height 15px

.nav-tabs__like_active
	opacity 1
	color red

.item
	border 1px solid #337ab7
	border-radius 6px
	background-color #eee

.item__image
	width 120px
	height 120px

.item_favourite
	border 2px solid red
	padding-bottom 18px

.fixed
	position fixed
	width 30%
	
	@media only screen and (max-width : 768px)
		width 40%

.btn-favourites
	margin-bottom 10px

.btn-more
	margin-top 10px
	margin-bottom 10px

.type
	cursor pointer

.normal
	background-color silver

.fire
	background-color red

.water
	background-color aqua

.bug
	background-color green

.flying
	background-color skyblue

.poison
	background-color rebeccapurple

.electric
	background-color cyan

.ground
	background-color saddlebrown

.fairy
	background-color mediumpurple

.grass
	background-color green

.fighting
	background-color crimson

.phychic
	background-color darkred

.rock
	background-color #8b8989

.steel
	background-color lightslategray

.ice
	background-color deepskyblue

.ghost
	background-color moccasin